
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body
{
    background:linear-gradient(lightgreen,lightblue);
}
h1{
    font-size: 22px;
    color: #e84393;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
table{
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,.04);
    border-radius: 10px;
    margin: auto;
}
th,td{
    border: 1px solid #f2f2f2;
    padding: 6px 30px;
    text-align: center;
    color: grey;
}
th{
    text-transform: uppercase;
    font-size: 16px;
    color:coral;
}
td{
    font-size: 15px;
}
.email-style{
    font-size: 14px;
    color: grey;
    display: inline-block;
    background: #f2f2f2;
    border-radius: 2px;
    line-height: 30px;
    padding: 0 14px;
}
.fa-user{
    color: lightblue;
}
.fa-user:hover{
    cursor: pointer;
}
